<section class="projects-pad">
  <div class="container">
    <div class="card mb-3 pos-rel">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ BASE_PATH }}/assets/img/secuestros.jpg" class="card-img" alt="mapa de secuestros">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="h3 card-title">Mapa de Secuestros</h3>
            <p class="card-text">Recolectamos datos sobre incidencias de secuestros a mujeres en la CDMX.</p>

            <div class="bottom-buttons">
              <a href="https://serendipia.digital/2019/01/mujeres-comparten-historias-sobre-intentos-de-secuestro-en-ciudad-de-mexico-y-estado-de-mexico-mapa/"><button type="button" class="btn btn-secondary">Ver artículo</button></a>
              <a><button type="button" class="btn btn-primary">Ver proyecto</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
