<section class="what">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 what-pad">
        <h3 class="text-white text-center what-title-pad">Ciudad</h3>
        <p class="text-white what-p">La violencia que sufren las mujeres en la ciudad (movilidad, espacio público, desarrollo urbano, empleo)</p>
      </div>
      <div class="col-md-4 col-sm-12 what-pad">
        <h3 class="text-white text-center what-title-pad">Datos</h3>
        <p class="text-white what-p">No existen datos que nos permitan entender el fenómeno de la violencia hacia las mujeres en lo público</p>
      </div>
      <div class="col-md-4 col-sm-12 what-pad">
        <h3 class="text-white text-center what-title-pad">Mujeres</h3>
        <p class="text-white what-p">Todos nuestros proyectos tienen un enfoque hacia las problemáticas de las mujeres.</p>
      </div>
    </div>
  </div>
</section>
